<div *ngIf="immigration">
	<h2><span jhiTranslate="profileApp.immigration.detail.title">Immigration</span> {{immigration.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="profileApp.immigration.tisId">Tis Id</span></dt>
		<dd>
			<span>{{immigration.tisId}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.immigration.eeaResident">Eea Resident</span></dt>
		<dd>
			<span>{{immigration.eeaResident}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.immigration.permitToWork">Permit To Work</span></dt>
		<dd>
			<span>{{immigration.permitToWork}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.immigration.settled">Settled</span></dt>
		<dd>
			<span>{{immigration.settled}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.immigration.visaIssued">Visa Issued</span></dt>
		<dd>
			<span>{{immigration.visaIssued | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.immigration.visaValidTo">Visa Valid To</span></dt>
		<dd>
			<span>{{immigration.visaValidTo | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.immigration.visaDetailsNumber">Visa Details Number</span></dt>
		<dd>
			<span>{{immigration.visaDetailsNumber}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'immigration/'+ immigration.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
