# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overriden by the Spring profile you use,
# for example application-dev.yml if you use the "dev" profile.
#
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full profile is available at:
# http://docs.spring.io/spring-boot/docs/current/profile/html/common-application-properties.html
# ===================================================================

management:
    context-path: /management
    security:
        enabled: false
    health:
        mail:
            enabled: false # When using the MailService, configure an SMTP server and set this to true
    add-application-context-header: false

spring:
    profiles:
        active: local
        include:
        - swagger
        - prometheus
    application:
        name: profile
    main:
        allow-bean-definition-overriding: true
    jackson:
        serialization:
            indent_output: true
            write_dates_as_timestamps: false
    jpa:
        database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
        database: MYSQL
        show-sql: false
        format-sql: true
        properties:
            hibernate.id.new_generator_mappings: true
            hibernate.cache.use_second_level_cache: false
            hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: ${LOG_HIBERNATE_STATS:false}
        open-in-view: false
        hibernate:
            ddl-auto: none
            naming:
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
                implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    messages:
        basename: i18n/messages
        cache-seconds: 1
    mvc:
        favicon:
            enabled: false
    devtools:
        restart:
            enabled: true
        livereload:
            enabled: false # we use gulp + BrowserSync for livereload
    datasource:
        type: com.zaxxer.hikari.HikariDataSource
        hikari:
            data-source-properties:
                cachePrepStmts: true
                prepStmtCacheSize: 250
                prepStmtCacheSqlLimit: 2048
                useServerPrepStmts: true
    mail:
        host: ${DBHOST:localhost}
        port: 25
        username:
        password:


flyway:
    baseline-description: #
    baseline-version: 1 # version to start migration
    baseline-on-migrate: true
    check-location: false # Check that migration scripts location exists.
    clean-on-validation-error: false
    flyway.enabled: true # Enable flyway.
    encoding: #
    ignore-failed-future-migration: #
    init-sqls: # SQL statements to execute to initialize a connection immediately after obtaining it.
    locations: classpath:db/migration/common
    out-of-order: true
    password: ${DBPASSWORD:}
    placeholder-prefix:
    placeholder-replacement:
    placeholder-suffix:
    placeholders.*:
    schemas: ${DBNAME:profile}
    sql-migration-prefix: V
    sql-migration-separator:
    sql-migration-suffix: .sql
    table:  #
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    validate-on-migrate:  #
    initOnMigrate: true

security:
    basic:
        enabled: false
    user:
        name: admin
        password: admin

server:
    port: 8082
    session:
        cookie:
            http-only: true
    context-path: /profile
    compression:
        enabled: true
        mime-types: text/html,text/xml,text/plain,text/css, application/javascript, application/json
        min-response-size: 1024
info:
    project:
        version: #project.version#

# ===================================================================
# Application specific properties
# Add your own application properties here.  See the ApplicationProperties class
#
# More documentation is available at:
# https://docs.spring.io/spring-boot/docs/2.5.2/reference/htmlsingle/#features.external-config
# ===================================================================

#log settings
logging:
    file: ${LOG_DIR:%HOME%}/auth.log
    level:
        root: info
        com.transformuk: debug

application:
