# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overriden by the Spring profile you use,
# for example application-dev.yml if you use the "dev" profile.
#
# More information on profiles: https://jhipster.github.io/profiles/
# More information on configuration properties: https://jhipster.github.io/common-application-properties/
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full profile is available at:
# http://docs.spring.io/spring-boot/docs/current/profile/html/common-application-properties.html
# ===================================================================

management:
    context-path: /management
    security:
        enabled: false
    health:
        mail:
            enabled: false # When using the MailService, configure an SMTP server and set this to true
    add-application-context-header: false

spring:
    profiles:
        active: local
        include:
        - swagger
        - prometheus
    application:
        name: profile
    jackson:
        serialization.write_dates_as_timestamps: false
        serialization.indent_output: true
    jpa:
        database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
        database: MYSQL
        show-sql: false
        format-sql: true
        properties:
            hibernate.id.new_generator_mappings: true
            hibernate.cache.use_second_level_cache: false
            hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: true
        open-in-view: false
        hibernate:
            ddl-auto: none
            naming:
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
                implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    messages:
        basename: i18n/messages
        cache-seconds: 1
    mvc:
        favicon:
            enabled: false
    devtools:
        restart:
            enabled: true
        livereload:
            enabled: false # we use gulp + BrowserSync for livereload
    datasource:
        type: com.zaxxer.hikari.HikariDataSource
        hikari:
            data-source-properties:
                cachePrepStmts: true
                prepStmtCacheSize: 250
                prepStmtCacheSqlLimit: 2048
                useServerPrepStmts: true
    mail:
        host: ${DBHOST:localhost}
        port: 25
        username:
        password:
eureka:
  client:
    healthcheck:
      enabled: true

flyway:
    baseline-description: #
    baseline-version: 1 # version to start migration
    baseline-on-migrate: true
    check-location: false # Check that migration scripts location exists.
    clean-on-validation-error: false
    flyway.enabled: true # Enable flyway.
    encoding: #
    ignore-failed-future-migration: #
    init-sqls: # SQL statements to execute to initialize a connection immediately after obtaining it.
    locations: classpath:db/migration
    out-of-order: true
    password: ${DBPASSWORD:}
    placeholder-prefix:
    placeholder-replacement:
    placeholder-suffix:
    placeholders.*:
    schemas: ${DBNAME:profile}
    sql-migration-prefix: V
    sql-migration-separator:
    sql-migration-suffix: .sql
    table:  #
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    validate-on-migrate:  #
    initOnMigrate: true

security:
    basic:
        enabled: false
    user:
        name: admin
        password: admin

server:
    port: 8082
    session:
        cookie:
            http-only: true
    context-path: /profile
    compression:
        enabled: true
        mime-types: text/html,text/xml,text/plain,text/css, application/javascript, application/json
        min-response-size: 1024
info:
    project:
        version: #project.version#

# ===================================================================
# JHipster specific properties
#
# Full profile is available at: https://jhipster.github.io/common-application-properties/
# ===================================================================

jhipster:
    async:
        core-pool-size: 2
        max-pool-size: 50
        queue-capacity: 10000
        # By default CORS is disabled. Uncomment to enable.
        #cors:
        #allowed-origins: "*"
        #allowed-methods: GET, PUT, POST, DELETE, OPTIONS
        #allowed-headers: "*"
        #exposed-headers:
        #allow-credentials: true
        #max-age: 1800
    swagger:
        default-include-pattern: /api/.*
        title: profile API
        description: profile API documentation
        version: 1.0.0
        terms-of-service-url:
        contact-name:
        contact-url:
        contact-email:
        license:
        license-url:
    ribbon:
        display-on-active-profiles: dev
    http:
        version: V_1_1 # To use HTTP/2 you will need SSL support (see above the "server.ssl" configuration)
    security:
        authentication:
            jwt:
                secret: my-secret-token-to-change-in-production
                # Token is valid 24 hours
                token-validity-in-seconds: 86400
                token-validity-in-seconds-for-remember-me: 2592000
    metrics: # DropWizard Metrics configuration, used by MetricsConfiguration
        jmx.enabled: true
        graphite: # Use the "graphite" Maven profile to have the Graphite dependencies
            enabled: false
            host: localhost
            port: 2003
            prefix: profile
        prometheus: # Use the "prometheus" Maven profile to have the Prometheus dependencies
            enabled: true
            endpoint: /management/prometheus
        logs: # Reports Dropwizard metrics in the logs
            enabled: false
            reportFrequency: 60 # in seconds
    logging:
        logstash: # Forward logs to logstash over a socket, used by LoggingConfiguration
            enabled: false
            host: localhost
            port: 5000
            queue-size: 512

# ===================================================================
# Application specific properties
# Add your own application properties here, see the ApplicationProperties class
# to have type-safe configuration, like in the JHipsterProperties above
#
# More documentation is available at:
# https://jhipster.github.io/common-application-properties/
# ===================================================================

#log settings
logging:
    file: ${LOG_DIR:${HOME}}/auth.log
    level:
        root: info
        com.transformuk: debug

application:
