<div>
	<h2>
		<span jhiTranslate="profileApp.personalDetails.home.title">Personal Details</span>
		<button class="btn btn-primary float-right create-personal-details"
				[routerLink]="['/', { outlets: { popup: ['personal-details-new'] } }]">
			<span class="fa fa-plus"></span>
			<span jhiTranslate="profileApp.personalDetails.home.createLabel">
            Create new Personal Details
            </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
	</div>
	<br/>
	<div class="table-responsive" *ngIf="personalDetails">
		<table class="table table-striped">
			<thead>
			<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
				<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="tisId"><span jhiTranslate="profileApp.personalDetails.tisId">Tis Id</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="surnameNb"><span jhiTranslate="profileApp.personalDetails.surnameNb">Surname Nb</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="legalSurname"><span
						jhiTranslate="profileApp.personalDetails.legalSurname">Legal Surname</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="forenames"><span jhiTranslate="profileApp.personalDetails.forenames">Forenames</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="legalForenames"><span jhiTranslate="profileApp.personalDetails.legalForenames">Legal Forenames</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="knownAs"><span jhiTranslate="profileApp.personalDetails.knownAs">Known As</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="maidenName"><span jhiTranslate="profileApp.personalDetails.maidenName">Maiden Name</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="initials"><span jhiTranslate="profileApp.personalDetails.initials">Initials</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="title"><span jhiTranslate="profileApp.personalDetails.title">Title</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="telephoneNumber"><span jhiTranslate="profileApp.personalDetails.telephoneNumber">Telephone Number</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="mobileNumber"><span
						jhiTranslate="profileApp.personalDetails.mobileNumber">Mobile Number</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="emailAddress"><span
						jhiTranslate="profileApp.personalDetails.emailAddress">Email Address</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="correspondenceAddress"><span
						jhiTranslate="profileApp.personalDetails.correspondenceAddress">Correspondence Address</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="correspondenceAddressPostCode"><span
						jhiTranslate="profileApp.personalDetails.correspondenceAddressPostCode">Correspondence Address Post Code</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="status"><span jhiTranslate="profileApp.personalDetails.status">Status</span> <span
						class="fa fa-sort"></span></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let personalDetails of personalDetails ;trackBy: trackId">
				<td><a [routerLink]="['../personal-details', personalDetails.id ]">{{personalDetails.id}}</a></td>
				<td>{{personalDetails.tisId}}</td>
				<td>{{personalDetails.surnameNb}}</td>
				<td>{{personalDetails.legalSurname}}</td>
				<td>{{personalDetails.forenames}}</td>
				<td>{{personalDetails.legalForenames}}</td>
				<td>{{personalDetails.knownAs}}</td>
				<td>{{personalDetails.maidenName}}</td>
				<td>{{personalDetails.initials}}</td>
				<td>{{personalDetails.title}}</td>
				<td>{{personalDetails.telephoneNumber}}</td>
				<td>{{personalDetails.mobileNumber}}</td>
				<td>{{personalDetails.emailAddress}}</td>
				<td>{{personalDetails.correspondenceAddress}}</td>
				<td>{{personalDetails.correspondenceAddressPostCode}}</td>
				<td>{{personalDetails.status}}</td>
				<td class="text-right">
					<div class="btn-group flex-btn-group-container">
						<button type="submit"
								[routerLink]="['../personal-details', personalDetails.id ]"
								class="btn btn-info btn-sm">
							<span class="fa fa-eye"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'personal-details/'+ personalDetails.id + '/edit'} }]"
								replaceUrl="true"
								class="btn btn-primary btn-sm">
							<span class="fa fa-pencil"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'personal-details/'+ personalDetails.id + '/delete'} }]"
								replaceUrl="true"
								class="btn btn-danger btn-sm">
							<span class="fa fa-remove"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="personalDetails && personalDetails.length">
		<div class="row justify-content-center">
			<jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
		</div>
		<div class="row justify-content-center">
			<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
							(pageChange)="loadPage(page)"></ngb-pagination>
		</div>
	</div>
</div>
