# Created by .ignore support plugin (hsz.mobi)
/target/
*.jar
*.class
mvnw
mvnw.cmd
*.tar.gz
/node_modules/
/node/
.DS_Store
.tmp/
js/tests/
js/app/scripts/templates.js
js/app/components/masthead/
js/bower_components/
npm-debug.log
js/app/styles/main.css
js/app/styles/main.css.map
src/main/resources/static/
bdd/dist/
bdd/e2e/reports/
bdd/node_modules/
bdd/phantomjsdriver.log

# IDEA files #
######################
.idea/
**/*.iml
