# Created by .ignore support plugin (hsz.mobi)
/target/
*.jar
*.class
mvnw
mvnw.cmd
*.tar.gz
/node_modules/
/node/
.DS_Store
.tmp/
js/tests/
js/app/scripts/templates.js
js/app/components/masthead/
js/app/components/common/file-upload/
js/app/components/common/modal-loader/
js/app/components/common/notes-toggler/
js/app/components/common/pagination/
js/app/components/common/tooltip/
js/app/components/common/trainee-layout/
js/app/components/common/equal-height/
js/app/scripts/services/profile-service.js
js/bower_components/
npm-debug.log
js/app/styles/main.css
js/app/styles/main.css.map
src/main/resources/static/
bdd/dist/
bdd/e2e/reports/
bdd/node_modules/
bdd/phantomjsdriver.log
/bower_components/


# IDEA files #
######################
.idea/
**/*.iml
