<div>
	<h2>
		<span jhiTranslate="profileApp.heeUser.home.title">Hee Users</span>
		<button class="btn btn-primary float-right create-hee-user"
				[routerLink]="['/', { outlets: { popup: ['hee-user-new'] } }]">
			<span class="fa fa-plus"></span>
			<span jhiTranslate="profileApp.heeUser.home.createLabel">
            Create new Hee User
            </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
	</div>
	<br/>
	<div class="table-responsive" *ngIf="heeUsers">
		<table class="table table-striped">
			<thead>
			<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
				<th jhiSortBy="name"><span jhiTranslate="profileApp.heeUser.name">Name</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="firstName"><span jhiTranslate="profileApp.heeUser.firstName">First Name</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="lastName"><span jhiTranslate="profileApp.heeUser.lastName">Last Name</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="gmcId"><span jhiTranslate="profileApp.heeUser.gmcId">Gmc Id</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="phoneNumber"><span jhiTranslate="profileApp.heeUser.phoneNumber">Phone Number</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="emailAddress"><span jhiTranslate="profileApp.heeUser.emailAddress">Email Address</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="active"><span jhiTranslate="profileApp.heeUser.active">Active</span> <span
						class="fa fa-sort"></span></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let heeUser of heeUsers ;trackBy: trackId">
				<td><a [routerLink]="['../hee-user', heeUser.name ]">{{heeUser.name}}</a></td>
				<td>{{heeUser.firstName}}</td>
				<td>{{heeUser.lastName}}</td>
				<td>{{heeUser.gmcId}}</td>
				<td>{{heeUser.phoneNumber}}</td>
				<td>{{heeUser.emailAddress}}</td>
				<td>{{heeUser.active}}</td>
				<td class="text-right">
					<div class="btn-group flex-btn-group-container">
						<button type="submit"
								[routerLink]="['../hee-user', heeUser.name ]"
								class="btn btn-info btn-sm">
							<span class="fa fa-eye"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'hee-user/'+ heeUser.name + '/edit'} }]"
								replaceUrl="true"
								class="btn btn-primary btn-sm">
							<span class="fa fa-pencil"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'hee-user/'+ heeUser.name + '/delete'} }]"
								replaceUrl="true"
								class="btn btn-danger btn-sm">
							<span class="fa fa-remove"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="heeUsers && heeUsers.length">
		<div class="row justify-content-center">
			<jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
		</div>
		<div class="row justify-content-center">
			<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
							(pageChange)="loadPage(page)"></ngb-pagination>
		</div>
	</div>
</div>
