<div *ngIf="gmcDetails">
	<h2><span jhiTranslate="profileApp.gmcDetails.detail.title">Gmc Details</span> {{gmcDetails.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="profileApp.gmcDetails.tisId">Tis Id</span></dt>
		<dd>
			<span>{{gmcDetails.tisId}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.gmcDetails.gmcNumber">Gmc Number</span></dt>
		<dd>
			<span>{{gmcDetails.gmcNumber}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.gmcDetails.gmcStatus">Gmc Status</span></dt>
		<dd>
			<span>{{gmcDetails.gmcStatus}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.gmcDetails.gmcStartDate">Gmc Start Date</span></dt>
		<dd>
			<span>{{gmcDetails.gmcStartDate | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.gmcDetails.gmcExpiryDate">Gmc Expiry Date</span></dt>
		<dd>
			<span>{{gmcDetails.gmcExpiryDate | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.gmcDetails.designatedBodyCode">Designated Body Code</span></dt>
		<dd>
			<span>{{gmcDetails.designatedBodyCode}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'gmc-details/'+ gmcDetails.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
