<div *ngIf="person">
	<h2><span jhiTranslate="profileApp.person.detail.title">Person</span> {{person.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="profileApp.person.tisId">Tis Id</span></dt>
		<dd>
			<span>{{person.tisId}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.person.publicHealthId">Public Health Id</span></dt>
		<dd>
			<span>{{person.publicHealthId}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.person.active">Active</span></dt>
		<dd>
			<span>{{person.active}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'person/'+ person.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
