<div *ngIf="equalityAndDiversity">
	<h2><span jhiTranslate="profileApp.equalityAndDiversity.detail.title">Equality And Diversity</span>
		{{equalityAndDiversity.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="profileApp.equalityAndDiversity.tisId">Tis Id</span></dt>
		<dd>
			<span>{{equalityAndDiversity.tisId}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.equalityAndDiversity.maritalStatus">Marital Status</span></dt>
		<dd>
			<span>{{equalityAndDiversity.maritalStatus}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.equalityAndDiversity.dateOfBirth">Date Of Birth</span></dt>
		<dd>
			<span>{{equalityAndDiversity.dateOfBirth | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.equalityAndDiversity.gender">Gender</span></dt>
		<dd>
			<span>{{equalityAndDiversity.gender}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.equalityAndDiversity.nationality">Nationality</span></dt>
		<dd>
			<span>{{equalityAndDiversity.nationality}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.equalityAndDiversity.dualNationality">Dual Nationality</span></dt>
		<dd>
			<span>{{equalityAndDiversity.dualNationality}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.equalityAndDiversity.sexualOrientation">Sexual Orientation</span></dt>
		<dd>
			<span>{{equalityAndDiversity.sexualOrientation}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.equalityAndDiversity.religiousBelief">Religious Belief</span></dt>
		<dd>
			<span>{{equalityAndDiversity.religiousBelief}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.equalityAndDiversity.ethnicOrigin">Ethnic Origin</span></dt>
		<dd>
			<span>{{equalityAndDiversity.ethnicOrigin}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.equalityAndDiversity.disability">Disability</span></dt>
		<dd>
			<span>{{equalityAndDiversity.disability}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.equalityAndDiversity.disabilityDetails">Disability Details</span></dt>
		<dd>
			<span>{{equalityAndDiversity.disabilityDetails}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'equality-and-diversity/'+ equalityAndDiversity.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
