<div>
	<h2>
		<span jhiTranslate="profileApp.equalityAndDiversity.home.title">Equality And Diversities</span>
		<button class="btn btn-primary float-right create-equality-and-diversity"
				[routerLink]="['/', { outlets: { popup: ['equality-and-diversity-new'] } }]">
			<span class="fa fa-plus"></span>
			<span jhiTranslate="profileApp.equalityAndDiversity.home.createLabel">
            Create new Equality And Diversity
            </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
	</div>
	<br/>
	<div class="table-responsive" *ngIf="equalityAndDiversities">
		<table class="table table-striped">
			<thead>
			<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
				<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="tisId"><span jhiTranslate="profileApp.equalityAndDiversity.tisId">Tis Id</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="maritalStatus"><span jhiTranslate="profileApp.equalityAndDiversity.maritalStatus">Marital Status</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="dateOfBirth"><span jhiTranslate="profileApp.equalityAndDiversity.dateOfBirth">Date Of Birth</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="gender"><span jhiTranslate="profileApp.equalityAndDiversity.gender">Gender</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="nationality"><span
						jhiTranslate="profileApp.equalityAndDiversity.nationality">Nationality</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="dualNationality"><span jhiTranslate="profileApp.equalityAndDiversity.dualNationality">Dual Nationality</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="sexualOrientation"><span
						jhiTranslate="profileApp.equalityAndDiversity.sexualOrientation">Sexual Orientation</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="religiousBelief"><span jhiTranslate="profileApp.equalityAndDiversity.religiousBelief">Religious Belief</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="ethnicOrigin"><span jhiTranslate="profileApp.equalityAndDiversity.ethnicOrigin">Ethnic Origin</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="disability"><span
						jhiTranslate="profileApp.equalityAndDiversity.disability">Disability</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="disabilityDetails"><span
						jhiTranslate="profileApp.equalityAndDiversity.disabilityDetails">Disability Details</span> <span
						class="fa fa-sort"></span></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let equalityAndDiversity of equalityAndDiversities ;trackBy: trackId">
				<td><a [routerLink]="['../equality-and-diversity', equalityAndDiversity.id ]">{{equalityAndDiversity.id}}</a>
				</td>
				<td>{{equalityAndDiversity.tisId}}</td>
				<td>{{equalityAndDiversity.maritalStatus}}</td>
				<td>{{equalityAndDiversity.dateOfBirth | date:'mediumDate'}}</td>
				<td>{{equalityAndDiversity.gender}}</td>
				<td>{{equalityAndDiversity.nationality}}</td>
				<td>{{equalityAndDiversity.dualNationality}}</td>
				<td>{{equalityAndDiversity.sexualOrientation}}</td>
				<td>{{equalityAndDiversity.religiousBelief}}</td>
				<td>{{equalityAndDiversity.ethnicOrigin}}</td>
				<td>{{equalityAndDiversity.disability}}</td>
				<td>{{equalityAndDiversity.disabilityDetails}}</td>
				<td class="text-right">
					<div class="btn-group flex-btn-group-container">
						<button type="submit"
								[routerLink]="['../equality-and-diversity', equalityAndDiversity.id ]"
								class="btn btn-info btn-sm">
							<span class="fa fa-eye"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'equality-and-diversity/'+ equalityAndDiversity.id + '/edit'} }]"
								replaceUrl="true"
								class="btn btn-primary btn-sm">
							<span class="fa fa-pencil"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'equality-and-diversity/'+ equalityAndDiversity.id + '/delete'} }]"
								replaceUrl="true"
								class="btn btn-danger btn-sm">
							<span class="fa fa-remove"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="equalityAndDiversities && equalityAndDiversities.length">
		<div class="row justify-content-center">
			<jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
		</div>
		<div class="row justify-content-center">
			<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
							(pageChange)="loadPage(page)"></ngb-pagination>
		</div>
	</div>
</div>
