<div *ngIf="manageRecord">
	<h2><span jhiTranslate="profileApp.manageRecord.detail.title">Manage Record</span> {{manageRecord.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="profileApp.manageRecord.tisId">Tis Id</span></dt>
		<dd>
			<span>{{manageRecord.tisId}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.manageRecord.recordType">Record Type</span></dt>
		<dd>
			<span>{{manageRecord.recordType}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.manageRecord.role">Role</span></dt>
		<dd>
			<span>{{manageRecord.role}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.manageRecord.recordStatus">Record Status</span></dt>
		<dd>
			<span>{{manageRecord.recordStatus}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.manageRecord.inactiveFrom">Inactive From</span></dt>
		<dd>
			<span>{{manageRecord.inactiveFrom | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.manageRecord.changedBy">Changed By</span></dt>
		<dd>
			<span>{{manageRecord.changedBy}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.manageRecord.inactiveReason">Inactive Reason</span></dt>
		<dd>
			<span>{{manageRecord.inactiveReason}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.manageRecord.inactiveDate">Inactive Date</span></dt>
		<dd>
			<span>{{manageRecord.inactiveDate | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="profileApp.manageRecord.deletionReason">Deletion Reason</span></dt>
		<dd>
			<span>{{manageRecord.deletionReason}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'manage-record/'+ manageRecord.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
