<div ng-controller="mastheadCtrl as ctrl" class="masthead" ng-show="user.loggedIn === true && !fullScreen">
	<div class="row">
		<div class="display-table">
			<div class="tis-logo" translate>MASTHEAD.TITLE</div>
			<div class="nhs-logo display-table-cell">
				<img src="images/nhs-logo-small.png">
				<i translate>MASTHEAD.HEE</i>
			</div>
		</div>
	</div>

	<div class="row wrapper"
		 ng-class="{'admin-bk': user.isAdmin, 'officer-bk': user.isOfficer, 'trainee-bk': user.isTrainee}">
		<div class="display-table">
			<nav class="display-table-cell">
				<ul ng-class="{'front-white' : user.isOfficer || user.isTrainee, 'front-admin': user.isAdmin}">
					<li>
						<span class="hee-icon hee-icon-trainees" ng-class="{'front-admin': user.isAdmin}"></span>
						<a ui-sref="dashboard.underNotice"
							ng-class="{'front-white' : user.isOfficer || user.isTrainee, 'front-admin': user.isAdmin}"
							translate>MASTHEAD.NAV.TRAINEE_DOCTORS</a>
					</li>
				</ul>
			</nav>

			<div class="login-and-search display-table-cell">
				<div class="display-table">
					<!-- login info -->
					<div class="login-info display-table-cell" ng-class="{'front-white': (user.isOfficer || user.isTrainee)}">
						{{'MASTHEAD.LOGGED_IN_AS' | translate }}
						<div class="user-details" tooltip data-toggle="tooltip" data-placement="top"
						tooltip-content="{{user.name}} ({{user.uid}} {{user.roles | json}})">
							<b>{{user.name}} ({{user.uid}} {{user.roles | json}})</b>
						</div>
					</div>

					<!-- logout -->
					<div class="logout display-table-cell" ng-click="ctrl.logout()">
						<span class="hee-icon hee-icon-logout"
						ng-class="{'front-white' : user.isOfficer || user.isTrainee, 'front-nhs-blue': user.isAdmin}"></span>
					</div>

					<!-- search -->
					<div class="search display-table-cell front-nhs-blue" ng-show="user.isAdmin || user.isOfficer">
						<span class="glyphicon glyphicon-search"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row sub-nav clearfix">
		<a ui-sref-active="active" ui-sref="dashboard.underNotice" translate>
			MASTHEAD.SUB_NAV.REVALIDATION
		</a>
		<a ui-sref-active="active" ui-sref="concerns" translate>
			MASTHEAD.SUB_NAV.CONCERNS_LOG
		</a>
		<a ui-sref-active="active" class="not-allowed" translate>
			MASTHEAD.SUB_NAV.MANAGE_GMC
		</a>
		<a ui-sref-active="active" class="not-allowed" translate>
			MASTHEAD.SUB_NAV.ARCPS
		</a>
	</div>
</div>
